* {
    padding: 0;
    margin: 0;
    font-family: "romanicumitalic", sans-serif;
}

html {
    font-size: 10px;
    font-family: "romanicumitalic", sans-serif;
}

@font-face {
    font-family: "romanicumitalic";
    src: url("../fonts/Romanicum Bold Italic.ttf") format("truetype");
}

body {
    background-color: #2e1279fe;
    background-image: url(../img/backkground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    background-color: #282a2e;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    border-width: 5px 10px 7px 12px;
    border-style: solid;
    border-image: linear-gradient(to right, red, cyan, green, yellow, red);
    border-image-slice: 1;
    animation: movimiento-color 1s infinite linear;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    background-color: #282a2e;
    text-align: center;
    margin-top: 45px;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 5px 10px 7px 12px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    background-color: #282a2e;
    text-align: center;
    font-size: 5rem;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 5px 10px 7px 12px;
    width: 80%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #282a2e;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar.fixed-top {
    margin-left: 3px;
    margin-right: 3px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 1.5rem;
    color: #a80a0a;
    text-decoration: none;
}

.logo:hover {
    color: #ff0000;
}

.logo.selected {
    color: #ff0000;
}

.nav-links {
    font-size: 13px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #c5c8c6;
    transition: color 0.3s ease;
    text-decoration: underline;
}

.nav-links a:hover {
    color: #ecfff3;
}

.main-content {
    padding: 1rem 0;
    text-align: flex-start;
}

.code-container {
    background-color: #282a2e;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    max-width: 100%;
    word-wrap: break-word;
}

.code-container2 {
    background-color: #282a2e;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    width: 100%;
    word-wrap: break-word;
    font-size: 1.5rem;
}

pre {
    margin: 0;
    color: #c5c8c6;
}

code {
    font-family: 'Source Code Pro', monospace;
}

.carousel-inner {
    width: 100%;
    height: 300px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resaltar {
    color: #ffffff;
    font-size: 25px;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.cards {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #282a2e;
    color: #c5c8c6;
    font-size: 12px;
}
.card-text2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    color:#ffffff;
}
.card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 25px;
}