* {
    padding: 3px;
    margin: 2px;
    font-family: "romanicumitalic", sans-serif;
}

html {
    font-size: 10px;
    font-family: "romanicumitalic", sans-serif;
}

@font-face {
    font-family: "romanicumitalic";
    src: url("../fonts/Romanicum Bold Italic.ttf") format("truetype");
}

body {
    background-color: #2e1279fe;
    background-image: url(../img/backfondgif.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 8rem;
    color: rgb(198, 201, 208);
    border-width: 5px 10px 7px 12px;
    border-style: solid;
    border-image: linear-gradient(to right, red, cyan, green, yellow, red);
    border-image-slice: 1;
    animation: movimiento-color 1s infinite linear;
}

@keyframes movimiento-color {
    0% { border-image-offset: 0; }
    100% { border-image-offset: 100%; }
}

header {
    background-color: rgba(8, 0, 120, 0.363);
}

.primertext {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(198, 201, 208);
    text-align: center;
    background-color: rgba(8, 0, 120, 0.445);
}

.textt {
    font-size: 35px;
    color: rgb(6, 12, 26);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.863);
}

.f {
    display: flex;
    justify-content: center;
    align-items: center;
}

.giant-button {
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.giant-button:hover {
    background-color: #f5f5f5bb;
}

.resaltar {
    color: #a80a0a;
}